<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title th:text="${titulo}">Formulario</title></head>
<body>
  <h1 th:text="${titulo}"></h1>
  <form th:action="@{/estudiantes/guardar}" th:object="${estudiante}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div>
      <label>Nombre:</label>
      <input type="text" th:field="*{nombre}" />
      <span 	th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
    </div>
    <div>
      <label>Apellido:</label>
      <input type="text" th:field="*{apellido}" />
      <span 	th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
    </div>
    <div>
      <label>Correo:</label>
      <input type="email" th:field="*{correo}" />
      <span 	th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></span>
    </div>
    <div>
      <label>Carrera:</label>
      <input type="text" th:field="*{carrera}" />
      <span 	th:if="${#fields.hasErrors('carrera')}" th:errors="*{carrera}"></span>
    </div>
    <button type="submit">Guardar</button>
    <a th:href="@{/estudiantes}">Cancelar</a>
  </form>
</body>
</html>
